body {
    height: 100vh;
    width: 100vw;
    background: url(../imagem/bg-repeat.jpg) center center;
    background-size: contain;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.informacao {
    width: 300px;
    height: 111px;
    color: #ffffff;
    margin-right: 60px;
    cursor: default;
}

.informacao h1 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.informacao p {
    font-size: 15px;
    font-weight: 400;
}

.formulario {
    height: 378px;
    width: 340px;
    padding: 20px;
    background-color: #ffffff;
}

.itens .item {
    margin-bottom: 15px;
    position: relative;
}

.inputs {
    width: 100%;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 400;
}

.inputs::placeholder {
    font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

.input-mensagem {
    height: 100px;
    resize: none;
}

.formulario h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: default;
}

.botao {
    width: 100%;
    height: 41px;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    border: 0 solid;
    background-color: #3CCC87;
    cursor: pointer;
}

.item p {
    position: absolute;
    font-size: 8px;
    cursor: default;
    color: #F52E2E;
    display: none;
}

/* campo obrigatório não preenchido */

.item.invalido .inputs {
    border: 1px solid #F52E2E;
}

.item.invalido p {
    display: block;
}

/* campo obrigatório preenchido */

.item.valido .inputs {
    border: 1px solid #00C22B;
}